/* sTYLE FOR WEATHERBOARD */

.active-cyan-4 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
    padding: 10px;
    display: flex;
    float: left;
    width: 80%;
  }
 
  .active-cyan-4 .fa {
    color: #4dd0e1;
    /* float: left; */
    width: 20%;
    padding: 10px;
  }

  .form-control {
  display: inline-block;
  float: left;
  width: 80%;
  
  }
