/* sTYLE FOR WEATHERBOARD */
*{
  font-family: DejaVu Sans Mono, monospace;
  color: #5b6875;
}

  .fa {
    color: #4dd0e1;
    padding-top: 10px;
    
    
  }
  .form-control {
    width: 100%;
    /* padding: 10px; */
  
  }

  .form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
    /* padding: 10px; */
    width: 100%;
  }

.card-header {
    background-color: #4dd0e180;
    text-align: center;
    height: 75px;
}

.main-cards {
  height: 286px;
}

.forecast {
    display: flex;
    justify-content: space-evenly;
}

.search-forms{
        display: flex;
        justify-content: center;
}

.btn{
    /* color: #4dd0e1; */
    background-color: #4dd0e13a;
    color: #5b6875;
    border-color: #ced4da;
    margin-bottom: 10px;
    
}

.btn:hover{
    /* color: #4dd0e1; */
    background-color: #4dd0e180;
    
    border-color: #ced4da;
}

.fiveFore{
    background-color: #4dd0e13a;
}

.todays-forecast{

    margin: 20px;
}

.dates { 
  font-weight: bold;
  margin: 5px;
  text-align: center;
}

.icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

h1 {
  text-align: center;
  background-color: #4dd0e180;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 0px;
  padding-left: 0px;
}

.forecast-divs{
  margin: 5px;
  text-align: center;
}

.headerfour {
  margin-top: 10px;
}

.green{
  background-color: rgba(22, 197, 22, 0.596);
}

.orange {
  background-color:  rgba(197, 121, 22, 0.596);
}

.red {
  background-color:  rgba(197, 22, 22, 0.596);
}

.uv-span{
  padding: 5px;
}